Package: libpve-network-perl
Version: 0.11.2
Architecture: all
Maintainer: Proxmox Support Team <support@proxmox.com>
Installed-Size: 229
Depends: libpve-common-perl (>= 5.0-45), pve-cluster (>= 8.0.10), libio-socket-ssl-perl, libnet-subnet-perl, libnet-ip-perl, libnetaddr-ip-perl, perl:any
Recommends: ifupdown2
Suggests: frr-pythontools (>= 8.5.1~), dnsmasq
Section: perl
Priority: optional
Homepage: https://www.proxmox.com
Description: Proxmox VE's SDN (Software Defined Network) stack
 This package contains the perl side of the Software Defined Network
 implementation for Proxmox VE.
